# DEBUG Flag
DEBUG=false
# suffix appended to the janelia-neuronbridge-data bucket
# it defaults to the opt:stage
SEARCH_DATA_LEVEL=<opts:stage>

# which deployment to use for parallelizing the search
# it defaults to the stage
BURST_COMPUTE_STAGE=<stage>

# Bucket containing color depth MIPs
# defaults to:
#   janelia-flylight-color-depth for prod
#   janelia-flylight-color-depth-<stage> for the other envs
IMAGE_DATA_BUCKET=

# Bucket containing color depth MIPs thumbnails
# defaults to:
#   janelia-flylight-color-depth-thumbnails for prod
#   janelia-flylight-color-depth-thumbnails-<stage> for the other envs
IMAGE_THUMBNAILS_BUCKET=janelia-flylight-color-depth-thumbnails

# Bucket containing alignment templates
ALIGN_TEMPLATES_BUCKET=janelia-flylight-color-depth

# Bucket containing PPPM imagery
PPPM_DATA_BUCKET=janelia-ppp-match-prod

# Suffix used for published table
PUBLISHED_NAMES_TABLE_SUFFIX=v3.0.0

# Daily limits for color depth searches per user
PER_DAY_SEARCH_LIMITS=100

# Daily alignment limits per user
PER_DAY_ALIGNMENT_LIMITS=10

# Limit the number of concurrent color depth searches per user
CONCURRENT_SEARCH_LIMITS=1

# Limit the number of concurrent alignments per user
CONCURRENT_ALIGNMENT_LIMITS=1

# Limit the number of returned color depth matches
MAX_CUSTOM_RESULTS=400

# Where to send alert notifications
ALERT_EMAIL=
