{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "source": "graphql",
        "action": "getSearch",
        "identity": $context.identity,
        "arguments":  $utils.toJson($context.arguments)
    }
}
